.elements__like {
  margin: 0 auto;
  background: url(../../../images/sprint-4-images/like.svg);
  width: 20.76px;
  height: 18.13px;
  border: none;
  background-size: cover;
  background-position: top;
  outline: none;
  cursor: pointer;
}

.elements__like:hover {
  opacity: 0.2;
}
