.header__logo {
    background-image: url(../../../images/sprint-4-images/vector.svg);
    background-position: center;
    background-size: cover;
    width: 142.01px;
    height: 33.4px;
    margin-left: 2.88px;

}
@media screen and (max-width: 320px) {   
    .header__logo {
        margin-left: 27px;
        width: 103.74px;
        height: 24.4px;
    }
}