.header__btn-out {
  margin: 0;
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  color: #a9a9a9;
  text-decoration: none;
  margin-left: 24px;
  border-style: none;
  background-color: #000000;
  border: 0;
  outline: none;
  cursor: pointer;
  align-self: self-end;
}
