.popup__field{
    margin: 0;
    border: none;
    width: calc(100% - 72px);
    align-self: center;
    font-family: 'Inter', 'Arial', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    border-bottom: 1px solid #f1f1f1;
    box-sizing: border-box;
}

@media screen and (max-width: 1024px) {   
    .popup__field {
        width: calc(100% - 44px);
    }
}