.popup__container_type_edit {
  text-align: center;
  padding-top: -10px;
  max-width: 430px;
}
@media screen and (max-width: 1024px) {
  .popup__container_type_edit {
    margin-top: 123px;
    max-width: calc(100% - 38px);
  }
}
